.aboutContainer{
    background-image: url("./../../images/background-page.jpg");
    transform: rotate(90);
    height: calc(100vh - 8rem);
    width: 100vw;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.aboutWorkContainer, .aboutHobbyContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutPhoto{
    margin-left: 10rem;
}

.aboutText{
    width: 50%;
}