.contactContainer{
    background-image: url("./../../images/background-page.jpg");
    transform: rotate(90);
    height: calc(100vh - 8rem);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contactInformation{
    width: 25%;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

p{
    font-size: 17px;
}