.footerContainer{
    background-image: url("./../../images/background-navbar.jpg");
    display: flex;
    justify-content: center;
    height: 4rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:30%;
}

a { color:black }

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}